.App {
  text-align: center;
  justify-content: center;
  display: flex;
}

*{
  text-decoration: none;
  list-style: none;
}

ul{
  display: flex;
  flex-direction: column;
}

li{
  display: flex;
  margin-top: 10px;
}